[user]
  name = Ascander Dost
  email = 1815984+ascander@users.noreply.github.com
  signingkey = 2AA4090A82FB6FA4
[credential]
  helper = osxkeychain
[alias]
  loglines = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  add-prs = config --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*'
  prs = pr list --format='%sC%>(8)%i%Creset %t %l %Cgreen(%cr)%Creset %Cblue<%au>%Creset %Cyellow%S%Creset%n'
  issues = issue --format='%sC%>(8)%i%Creset %t %l %Cgreen(%cr)%Creset %Cblue<%au>%Creset %Cyellow%S%Creset%n'
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 52
[merge]
  conflictstyle = diff3
[rerere]
  enabled = true
[includeIf "gitdir:~/code/work/"]
	path = ~/.gitconfig.work
[commit]
  verbose = true
  gpgsign = true
[tag]
  gpgsign = true
[push]
  default = simple
[core]
  excludesfile = /Users/adost/.gitignore-global
[gpg]
  program = gpg
